@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lilita+One&display=swap");
:root {
  font-family: "Lilita One", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  /* font-family: "Lobster", cursive; */
  line-height: 1.5;
  font-weight: 400;

  --colors__black1: #0d1300;
  --colors__white1: #dfd4bc;
  --colors__white2: #e0ede4;
  --colors__pink1: #9a7871;
  --colors__pink2: #985a53;
  /* --colors__pink2: rgb(110, 55, 51);
  --colors__pink2: rgb(118, 60, 58); */
  --colors__blue1: #1446a0;

  color: var(--colors__black1);

  background-color: var(--colors__white1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100svh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
